$screen-ms-max: 320px; //Mobile S
$screen-mm-max: 375px; //Mobile M
$screen-ml-max: 425px; //Mobile L
$screen-t-max: 768px; //Tablet
$screen-l-max: 1024px; //Laptop
$screen-ll-max: 1440px; //Laptop L

//Mobile S
@mixin ms {
    @media (max-width: #{$screen-ms-max}) {
        @content;
    }
}

//Mobile M
@mixin mm {
    @media (max-width: #{$screen-mm-max}) {
        @content;
    }
}

//Mobile L
@mixin ml {
    @media (max-width: #{$screen-ml-max}) {
        @content;
    }
}

//Tablet
@mixin t {
    @media (max-width: #{$screen-t-max}) {
        @content;
    }
}

// Laptop
@mixin l {
    @media (max-width: #{$screen-l-max}) {
        @content;
    }
}

//Laptop L
@mixin ll {
    @media (max-width: #{$screen-ll-max}) {
        @content;
    }
}

// Custom devices
@mixin rwdw($screen) {
    @media (max-width: $screen+"px") {
        @content;
    }
}

@mixin rwdh($screen) {
    @media (max-height: $screen+"px") {
        @content;
    }
}
