@import "breakpoints.scss";

.error-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.error {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: #ddd;
    @include t {
        width: 360px;
        height: 215px;
    }
    @include mm {
        width: 285px;
        height: 171px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        font-size: 100px;
        @include t {
            font-size: 70px;
        }
        @include mm {
            font-size: 60px;
        }
    }
    &__message-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    &__message {
        text-align: center;
    }
    &__close-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 52px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 2px;
        transition: 0.2s;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #f80000;
            color: white;
        }
    }
}
