* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}
