@import "breakpoints.scss";

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    // MENU
    &__menu {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    &__menu-item {
        font-size: 1.5rem;
        padding: 5px 10px;
        &--active {
            opacity: 0.3;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
    }
    // FORM
    &__form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 300px;

        @include rwdh(400) {
            height: 250px;
        }
        @include rwdh(300) {
            height: 220px;
        }
    }

    &__title {
        font-size: 3rem;
        padding: 10px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
    }

    &__form-input {
        width: 100%;
    }
}
