@import "breakpoints.scss";

.to-do-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    @include ll {
        width: 60%;
    }
    @include l {
        width: 70%;
    }
    @include t {
        width: 80%;
    }

    @include ml {
        width: 90%;
    }

    @include mm {
        width: 100%;
    }

    &__input-task-container {
        padding: 10px;
        display: flex;
        width: 100%;
    }
    &__input-task {
        flex-grow: 1;
    }
    &__list {
        width: 80%;
        list-style: none;
    }

    &__task {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    &__task-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &__task-option-panel {
        display: flex;
        flex-direction: row;
        @include l {
            flex-direction: column;
        }
    }
    &__edit-input {
        flex-grow: 1;
    }
}
