@import "breakpoints.scss";

.user-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
